<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/materialize.min.css"/>

</head>
<body>
     <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a [routerLink]="['/biblio']">Biblioteque</a></li>
        <li><a [routerLink]="['/games/:gameId']">Jeu</a></li>
      </ul>
    </div>
  </nav>
        
</body>
</html>